<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Refat Mir</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--container start-->

    <div class="container">
        <!--header start-->
        <header>
            <!--header end-->


            <img class="profile-img" src="refat.jpg" alt="refat mir">
            <div class="header-bio">
                <h1>Refat Mir</h1>
                <h3>Web Developer</h3>
            </div>
            <div class="header-contract">
                <p><a href="mailto:refatmir420@gmail.com"></a> Email : refatmir420@gmail.com</p>
                <p><a href="tel:01798548858"></a> phone : 01798548858 </p>
                <p><a href="mir_refat_03"></a>Insta: mir_refat_03</p>
            </div>
        </header>
        <div class="div-clear"></div>
        <hr>
        <!--main start-->
        <main>
            <!--personal-section start-->
            <section id="personal-section">
                <div class="content">
                    <div class="left-div">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="right-div">
                        <p> Address: Bashundhara R/A, Dhaka Bangladesh</p>
                        <p>Sex:Male</p>
                        <p>Date of birth:03 February 2003</p>
                        <p>Nationality: Bangladeshi</p>
                    </div>
                </div>

            </section>
            <!--personal-section end-->
            <div class="div-clear"></div>
            <hr class="common-hr">
            <!--work experience-->
            <section>

                <div id="work experience">
                    <div class="left-div">
                         <h3>Work Experience</h3>
                    </div>
                    <div class="right-div">
                        <h3>Course project</h3>
                        <p><em>03-4-24  -  02-23-25</em></p>
                        <p>American International University Bangladesh</p>
                        <ul>
                          <li> Library Management system</li>
                          <li> Food app</li>
                          <li>Online job Management tools</li>
                        </ul>
                    </div>

                </div>
            </section>
                <!--personal-section end-->
            <div class="div-clear"></div>
            <hr class="common-hr">
 <!--education section start-->
 <section>
    <div id="Education">
        <div class="left-div">
            <h3>Education</h3>
        </div>
        <div class="right-div">
            <div class="hsc">
                <h4>Higher Secondary Certificate (HSC)</h4>
                <p><strong>Institution:</strong> Bornomala School and College</p>
                <p><strong>Passing Year:</strong> 2021</p>
            </div>
            <div class="Bsc">
                <h4>Bachelor of Science (BSc) in Computer Science and Engineering</h4>
                <p><strong>University:</strong> American International University-Bangladesh (AIUB)</p>
            </div>
        </div>
    </div>
</section>
            <!--education section end-->
            <div class="div-clear"></div>
            <hr class="common-hr">
                        <!-- skills section start-->

            <section>
                <div id="skill-section">
                    <div class="left-div">
                      <h3> Skills</h3>
                    </div>
                    <div class="right-div">
                        <ul>
                            <li>C# Development</li>
                            <li>ASP.NET Framework</li>
                            <li>Web Development</li>
                            <li>SQL Database Management</li>
                            <li>Object-Oriented Programming (OOP)</li>
                            <li>Problem Solving</li>
                            <li>Front-end & Back-end Development</li>
                            <li>Version Control (Git)</li>
                            <li>Software Development Life Cycle (SDLC)</li>
                        </ul>
                    </div>
                </div>

            </section>
            <!-- skills section end-->
            <div class="div-clear"></div>
            <hr class="common-hr">
                         <!--reference section start-->

            <section>
                <div id="References">
                    <div class="left-div">
                        <h3>References</h3>
                    </div>
                    <div class="right-div">
                        <div class="reference">
                            <h4>Khirul Alam Robin</h4>
                            <p><strong>Position:</strong> Lecturer</p>
                            <p><strong>Institution:</strong> American International University-Bangladesh (AIUB)</p>
                        </div>
                        <div class="reference">
                            <h4>Md. Alamgir Kabir</h4>
                            <p><strong>Position:</strong> Lecturer</p>
                            <p><strong>Institution:</strong> American International University-Bangladesh (AIUB)</p>
                        </div>
                    </div>
                </div>
            </section>
             <!--reference section end-->
            <div class="div-clear"></div>
            <hr class="common-hr">
            

        </main>
        <!--main end-->
        <!--footer start-->
        <footer>
         <div class="footer-section">
            <a href="#">Facebook</a>
            <a href="#">YouTube</a>
            <a href="#">Instagram</a>


         </div>
          <div class="author">
            <p> Design by Refat Mir</p>

          </div>
        </footer>
        <!--FOOTER END-->

    </div>
    <!--container end-->
</body>

</html>